<!-- Footer -->
<footer class="page-footer font-small row justify-content-md-center">

    <!-- Copyright -->
    <div class="copyright text-center offset-4 col-4">© 2021 Copyright:
        <a>Taniti.com</a>
    </div>
    <!-- Copyright -->

    <div class="social-media col-4">
        <a href="www.facebook.com" class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="www.twitter.com" class="social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="www.instagram.com" class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>

</footer>
<!-- Footer -->