<div class="entertainment">
    <div class="top-gallery">
        <mdb-carousel [isControls]="false" [animation]="'fade'">
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://images.unsplash.com/photo-1569615336419-2c33ad07f057?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://images.unsplash.com/photo-1556645077-67f8cd93e08c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://images.unsplash.com/photo-1510267790222-d919ba2cbcbf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80"
                    alt="First slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1595429275324-9018f61c0d3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>The Island of Taniti is full of a rich a vibrant history. Come learn what makes the Tanitian people so amazing at the Tanitian National Museum!</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1608772559854-d6e300116944?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>The waters off of Taniti are mostly warm, walm, and clear. Making them perfect for boat tours and snorkeling. Amoung the many reefs surrounding the island are exotic fish and even acient boat wreckage!</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1531204709756-1c7a41bf8936?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Inland Taniti full of mountainous rain-forests, perfect for zip-lining. Zip-Line locations are strategically placed to give you the best views of our great island and to help you navigate the rain forests quickly and safely!</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1494346480775-936a9f0d0877?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1903&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Believe it or not, Brewing plays a major part in the native Tanitian culture! There are several Pubs throughtout the Island. Taniti City is home to the Tanaski Brewery, the only place in the world you can get a tall glass of Taniti Ale.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1578736641330-3155e606cd40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Recently the Purple Waters Dance Club has opened in downtown Taniti City. So after a long day of reflaxing you can head into town and dance the night away!</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://images.unsplash.com/photo-1580758852857-a243f4de9cc7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1867&q=80" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Coming soon is a beautiful 9-hole golf course on the Merriton Landing in the rapidly growing Northen Yellow Leaf Bay. Stay at the White Sands Resort and wake up early to get 9-holes of golf in before heading out on your adventures!</p>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>