<div class="entertainment">
    <div class="top-gallery">
        <mdb-carousel [isControls]="false" [animation]="'none'">
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Musuem+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Snorkeling+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Zip-Lining+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Pub+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Club+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-4 entertainment">
                <mdb-card class="my-1">
                    <mdb-card-img src="https://via.placeholder.com/300x200.png?text=Golf+Image" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>