<div class="transportation">
    <div class="get-to-island text-card">
        <h2 style="text-align: center; ">How to get to Taniti</h2>
        <mdb-carousel class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
            [animation]="toIsland.length > 1 ? 'slide' : 'none'">
            <mdb-carousel-item *ngFor="let item of toIsland; let i = index">
                <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
                    <mdb-card class="my-1">
                        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                        <mdb-card-body>
                            <p>{{card.description}}</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="travel-island text-card">
        <h2 style="text-align: center; margin-bottom: 16px;">How to explore the island</h2>
        <div class="row">
            <div class="col-3">
                <img style="max-width: 300px; max-height: 200px;" src="https://images.unsplash.com/photo-1501393091915-82f0cbd8f338?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
            </div>
            <div class="col-3">
                <img style="max-width: 300px; max-height: 200px;" src="https://images.unsplash.com/photo-1615887110697-0819ec23465f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80" alt="">
            </div>
            <div class="col-3">
                <img style="max-width: 300px; max-height: 200px;" src="https://images.unsplash.com/photo-1455641374154-422f32e234cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80" alt="">
            </div>
            <div class="col-3">
                <img style="max-width: 300px; max-height: 200px;" src="https://images.unsplash.com/photo-1537640685236-a9df2496e232?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
            </div>
        </div>

        <p style="width: 75%; text-align: center; margin-top: 16px;">
            Tanit prides itself on its public transportation. The public busses serve Taniti City every day from 5 a.m. to 11 p.m, the rest of the island is served by private busses. Taxi cabs are common especially around the Airport, Downtown restraunts, and the beaches. Rental cars are available at the airport. Rental bikes are abundant around the beaches and city. Taniti is also a very flat and walkable city so many vistors elect to stroll amoung our amazing architecture.
        </p>
    </div>
</div>