<div class="attractions">
    <div class="top-gallery">
        <mdb-carousel [isControls]="false" [animation]="'fade'">
            <mdb-carousel-item>
                <img class="d-block gallery-img" src="https://images.unsplash.com/photo-1536077891673-5a03ebcd8ebe?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8dm9sY2Fub3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://images.unsplash.com/photo-1428572184420-7d1092d8c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                    alt="First slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="content">
        <div class="row text-card attraction">
            <div class="col-8">
                <h3>Beautiful white sand beaches</h3>
                <p>Taniti is home to many beautiful white sand beaches. The most popular of which are in Yellow Leaf Bay, but many more surround the island. On the farside of the island is Wake Water Beach, a world renowned surfing desitination.</p>
            </div>
            <div class="col-4">
                <img class="attraction-img" src="https://images.unsplash.com/flagged/photo-1557899775-24a0957d3895?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80" alt="">
            </div>
        </div>
        <div class="row text-card attraction">
            <div class="col-4">
                <img class="attraction-img" src="https://images.unsplash.com/photo-1560851691-ebb64b584d3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1975&q=80" alt="">
            </div>
            <div class="col-8">
                <h3>Explore the acient Rainforests</h3>
                <p>As you move inland you'll encounter the massive and acient rainforests. There are no wild life species dangerous to humans so feel comfortable in exploring the historic jungle ruins. Many legends have been told of buried treasure hidden in the jungles!</p>
            </div>
        </div>
        <div class="row text-card attraction">
            <div class="col-8">
                <h3>The mysterious Mt. Tanitaki Volcano</h3>
                <p>At the center of the island lies the dormant Mt. Tanitaki Volcano! Many local legends and tails surround this great volcano. Helicopter and mountain tours occur daily but the tails to the top are also clearly marked and well maintained. Often local Tanitians are stationed along the route to share the history and traditions of the great Mountain.</p>
            </div>
            <div class="col-4">
                <img class="attraction-img" src="https://images.unsplash.com/photo-1580094333632-438bdc04f79f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
            </div>
        </div>
    </div>
</div>