<div class="attractions">
    <div class="top-gallery">
        <mdb-carousel [isControls]="false" [animation]="'none'">
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100 gallery-img" src="https://via.placeholder.com/600x300.png?text=Gallery+Image"
                    alt="First slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="content">
        <div class="row text-card attraction">
            <div class="col-8">
                <h3>Beautiful white sand beaches</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-4">
                <img class="attraction-img" src="https://via.placeholder.com/400x250.png?text=Beach+Image" alt="">
            </div>
        </div>
        <div class="row text-card attraction">
            <div class="col-4">
                <img class="attraction-img" src="https://via.placeholder.com/400x250.png?text=Rainforest+Image" alt="">
            </div>
            <div class="col-8">
                <h3>Explore the acient Rainforests</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="row text-card attraction">
            <div class="col-8">
                <h3>The mysterious Mt. Tanitaki Volcano</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-4">
                <img class="attraction-img" src="https://via.placeholder.com/400x250.png?text=Volcano+Image" alt="">
            </div>
        </div>
    </div>
</div>