.banner-img {
    width: 100%;
    height: 600px;
}

.top-gallery {
    margin-bottom: 32px;
}

.content {
    padding: 16px 32px;
}

.gallery-img {
    width: 100%;
    height: 300px;
}

.profile-img {
    width: 200;
    height: 150;
}

.reviews {
    margin-top: 48px;
}

.checked {
    color: gold !important;
}

.fa-star {
    color: gray;
}

.review-header {
    text-align: center;
    margin-bottom: 16px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin-bottom: 16px;
    width: 70%;
}

.review-col {
    margin-bottom: 16px;
}